################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HaarWaveletTransform(VS2017)/.vs/HaarWaveletTransform(VS2017)/v15/Browse.VC.opendb
